<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkeActive="my-active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/units" routerLinkActive="my-active">Science Units</a>
      </li>
    </ul>
  </div>
</nav>
