<section>
  <h3> Science Unit Conversion</h3>
  <div class="image">
    <img src="assets/temperature.png" width="300" height="240">
    <img src="assets/volumes.png" width="300" height="240">
  </div>
  <div>
  <p><br>
  This website is for science teachers who are comfortable using a browser. <br><br>
  In their “Unit Conversion” science unit, they want to assign students unit-conversion problems on paper worksheets. After students turn in their completed worksheet, the teachers want to be able to enter the questions and student responses into a computer to be graded. Students will convert:
  </p>
  <ul>
    <li>
      Temperatures between Kelvin, Celsius, Fahrenheit, and Rankine
    </li>
    <li>
      Volumes between liters, tablespoons, cubic-inches, cups, cubic-feet, and gallons
    </li>
  </ul>
  <p>
  The folling examples shows what data a science teacher should provide as input and what data the system will provide as output.
  </p>
  <ol>
    <li>
      The teacher must be able to provide an input numerical value, an input unit of measure, a target unit of measure, and a student’s numeric response.
    </li>
    <li>
      The system indicates that the response is correct, incorrect, or invalid. To be considered correct, the student’s response must match an authoritative answer after both the student’s response and authoritative answer are rounded to the tenths place.
    </li>
  </ol>
  <br>
  <p>
    Example scenarios (not exhaustive):
  </p>
  <table>
    <tr>
      <th>Input Numerical Value</th>
      <th>Input Unit of Measure </th>
      <th>Target Unit of Measure</th>
      <th>Student Respone</th>
      <th>Output</th>
    </tr>
    <tr>
      <td>84.2</td>
      <td>Fahrenheit</td>
      <td>Rankine</td>
      <td>543.94</td>
      <td>correct</td>
    </tr>
    <tr>
      <td>317.33</td>
      <td>Kelvin</td>
      <td>Fahrenheit</td>
      <td>111.54</td>
      <td>incorrect</td>
    </tr>
    <tr>
      <td>25.6</td>
      <td>cups</td>
      <td>liters</td>
      <td>6.1</td>
      <td>correct</td>
    </tr>
    <tr>
      <td>73.12</td>
      <td>gallons</td>
      <td>Kelvin</td>
      <td>19.4</td>
      <td>invalid</td>
    </tr>
    <tr>
      <td>6.5</td>
      <td>Fahrenheit</td>
      <td>Rankine</td>
      <td>dog</td>
      <td>incorrect</td>
    </tr>
    <tr>
      <td>136.1</td>
      <td>dog</td>
      <td>Celsius</td>
      <td>45.32</td>
      <td>invalid</td>
    </tr>
  </table>
  </div>
</section>



